@import "tailwindcss";

@theme {
  --color-primary: #003ec7;
  --color-on-primary: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #434656;
  --color-outline-variant: #c3c5d9;
  --color-outline: #737688;
  --color-tertiary-fixed-dim: #4edea3;
  --color-surface: #f8f9ff;
}

.bg-pattern {
  background-image: radial-gradient(circle at 1px 1px, rgba(0, 82, 255, 0.08) 1px, transparent 0);
  background-size: 24px 24px;
}

body {
  margin: 0;
  padding: 0;
}
